* {
    font-family: Roboto;
}

body {
    background: linear-gradient(20deg,#C2289B,#7022A8);
    background: -webkit-linear-gradient(20deg,#C2289B,#7022A8);
    background: -moz-linear-gradient(20deg,#C2289B,#7022A8);
    background: -o-linear-gradient(20deg,#C2289B,#7022A8);
    display: flex;
    height: 150vh;
}

.dropdown-button {
    font-weight: 600;
}

.dropdown-button:hover .dropdown-menu{
    display: block;
}

.dropdown-menu {
    position: absolute !important;
    z-index: 99;
    display: none;
    position: relative;
    background: #fff; 
    border-radius: 2px;
    box-shadow: 0 0 2px 0px rgba(0,0,0, 0.5);
    margin-top: 10px;
    
}

.dropdown-menu li {
    list-style: none;
    position: relative;
    float: none !important;
    display: block;
    margin: 0 !important;
}

.dropdown-button::after {
    margin-left: 5px;
    content: "\f0dd";        
    position: relative;
    top: -3px;
    font-family: "FontAwesome";    
}

.dropdown-button2 {
    font-weight: 600;
}

.dropdown-button2:hover .dropdown-menu2 {
    display: block;
}

.dropdown-menu2 {
    position: absolute !important;
    z-index: 99;
    display: none;
    position: relative;
    background: #fff; 
    border-radius: 2px;
    box-shadow: 0 0 2px 0px rgba(0,0,0, 0.5);
    margin-top: 10px;
    margin-left: 30px;
}

.dropdown-menu2 li {
    list-style: none;
    position: relative;
    float: none !important;
    display: block;
    margin: 0 !important;
}

.dropdown-button2::after {
    margin-left: 5px;
    content: "\f0dd";        
    position: relative;
    top: -3px;
    font-family: "FontAwesome";
}

.dropdown-button3 {
    font-weight: 600;
}

.dropdown-button3:hover .dropdown-menu3 {
    display: block;
}

.dropdown-menu3 {
    position: absolute !important;
    z-index: 99;
    display: none;
    position: relative;
    background: #fff; 
    border-radius: 2px;
    box-shadow: 0 0 2px 0px rgba(0,0,0, 0.5);
    margin-top: 10px;
    margin-left: 20px;
}

.dropdown-menu3 li {
    list-style: none;
    position: relative;
    float: none !important;
    display: block;
    margin: 0 !important;
}

.dropdown-button3::after {
    margin-left: 5px;
    content: "\f0dd";        
    position: relative;
    top: -3px;
    font-family: "FontAwesome";
}

.dropdown-button4 {
    font-weight: 600;
}

.dropdown-button4:hover .dropdown-menu4 {
    display: block;
}

.dropdown-menu4 {
    position: absolute !important;
    z-index: 99;
    display: none;
    position: relative;
    background: #fff; 
    border-radius: 2px;
    box-shadow: 0 0 2px 0px rgba(0,0,0, 0.5);
    margin-top: 10px;
    margin-left: 5px;
}

.dropdown-menu4 li {
    list-style: none;
    position: relative;
    float: none !important;
    display: block;
    margin: 0 !important;
}

.dropdown-button4::after {
    margin-left: 5px;
    content: "\f0dd";        
    position: relative;
    top: -3px;
    font-family: "FontAwesome";
}

.content {
    width: 95%;
    height: 850px;
    background-color: #ffffff;
    margin: 50px;
    border: .5px solid #CFCBCD;
}

.navigasi {
    float: right;
}

.text {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 25px;
}

.text li {
    float: left;
    padding: 10px;
    font-family: 'arial';
    font-size: 15px;
    color: #565456;
    margin-top: 30px;
}

.text li:hover {
    cursor: pointer;
    color: #000;
    transition: .5s;
}

.sign_in {
    padding: 5px;
    font-size: 14px;
    float: right;
    margin-right: 60px;
    margin-top: 35px;
    color: rgb(218, 73, 181);
    font-weight: bold;
    cursor: pointer;
}

.sign_in:hover {
    color: #C2289B;
    transition: 1s;
}

.text_logo {
    width: 77px;
    padding: 7px;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: lighter;
    font-weight: bold;
    border: 5px solid #C2289B;
    color: #C2289B;
    cursor: pointer;  
}

.text_up {
    font-size: 15px;
    color: #565456; 
    margin-top: 200px;
    margin-left: 80px;
    font-weight: 50;        
}

.text_bottom {
    font-style: italic;
    font-weight: 100;
    font-size: 75px;
    margin-top: 10px;
    margin-left: 75px;
}

img {
    display: block;
    margin-top: 35px;
    margin: 0 auto;
}